Ex1-Methode1/node_modules
Ex1-Methode2/node_modules
Ex2/node_modules
Ex3/node_modules
Ex4/node_modules

Ex1-Methode1/package-lock.json
Ex1-Methode2/package-lock.json
Ex2/package-lock.json
Ex3/package-lock.json
Ex4/package-lock.json


Ex1-Methode1/package.json
Ex1-Methode2/package.json
Ex2/package.json
Ex3/package.json
Ex4/package.json