Tp1/Ex1-Methode1/node_modules
Tp1/Ex1-Methode2/node_modules
Tp1/Ex2/node_modules
Tp1/Ex3/node_modules
Tp1/Ex4/node_modules

Tp1/Ex1-Methode1/package-lock.json
Tp1/Ex1-Methode2/package-lock.json
Tp1/Ex2/package-lock.json
Tp1/Ex3/package-lock.json
Tp1/Ex4/package-lock.json


Tp1/Ex1-Methode1/package.json
Tp1/Ex1-Methode2/package.json
Tp1/Ex2/package.json
Tp1/Ex3/package.json
Tp1/Ex4/package.json