TP1/Ex1-Methode1/node_modules
TP1/Ex1-Methode2/node_modules
TP1/Ex2/node_modules
TP1/Ex3/node_modules
TP1/Ex4/node_modules

TP1/Ex1-Methode1/package-lock.json
TP1/Ex1-Methode2/package-lock.json
TP1/Ex2/package-lock.json
TP1/Ex3/package-lock.json
TP1/Ex4/package-lock.json


TP1/Ex1-Methode1/package.json
TP1/Ex1-Methode2/package.json
TP1/Ex2/package.json
TP1/Ex3/package.json
TP1/Ex4/package.json